body{
    background-image: url(https://upload.wikimedia.org/wikipedia/en/6/6a/Mike_Wazowski.png); 
    background-color: black;
    background-repeat: no-repeat ;
}
h1{
    color: antiquewhite;
    text-shadow: 1px 1px 1px black,-1px -1px 1px black;
}
#ass1{
    color: purple;
    text-shadow: 1px 1px 1px pink,-1px -1px 1px pink;
    font-size: 2em;
}
a:visited{
    color: red;
}
a:link{
    color: gold;
}
a:hover{
    color: aqua;
    font-size: 1.2em;
}
a:active{
    color: bisque;
    font-size: 1.3em;
    font-style: italic;
}
