body{
    background-image: url(https://w7.pngwing.com/pngs/277/538/png-transparent-mike-wazowski-james-p-sullivan-pixar-monsters-inc-monster-vertebrate-fictional-character-film.png);
    background-color: grey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
h1{
    color: antiquewhite;
}
