body{
    background-color: rgb(240, 230, 250);
    background-image: url(https://static.vecteezy.com/system/resources/previews/012/658/289/non_2x/3d-application-form-illustration-side-view-free-png.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;

}
